.header {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #595959;
    padding: 10px 25px 0px 25px;
    /* background-color: aquamarine; */
    margin-bottom: 10px;
}

.title{
    text-align: center;
    font-size: clamp(1.5rem, 4cqi, 2.5rem);
}

.logo img {
    width: clamp(47px, 8vw, 141px);
    height: auto;
}

.back_btn {
    width: clamp(30px, 8vw, 90px);
    height: auto;
    aspect-ratio: 1/1;
    background-color: #4d4d4d43;
    /* color: black; */
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.back_btn img {
    width: 50%;
}