/* Container */
.container {

    /* Custom Properties */
    --background: #FFFFFF;
    --orange: #FF7A00;
    --nonActive:#A5A5A5;
    --defaultText: #000;
    --buttonText: #fff;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 380px;
    font-size: 16px;
    color: var(--defaultText);
    background-color: var(--background);
}

/* Image Container */
.imageContainer {
    height: 200px;
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
    max-height: 380px;
}

/* Content Container */
.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border: none;
}

/* Slider */
.slider {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

/* Buttons */
.prevButton, .nextButton {
    position: absolute;
    background-color: transparent;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    border: none;
    font-size:2rem;
}

/* Forcing color trough filter :) */
.arrowIcon {
    filter: invert(44%) sepia(85%) saturate(947%) hue-rotate(360deg) brightness(102%) contrast(104%);
}

.prevButton {
    left: 2%;
}

.nextButton {
    right: 2%;
}

/* Images Container */
.imagesContainer {
    width: 90%;
    height: 200px;
    max-height: 478px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.imagesContainer img {
    width: 100%;
    height: auto;
}

/* Dots Container */
.dotsContainer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.dotActive {
    background-color: var(--orange);
    /* background-color: var(--defaultText); */
}

.dotInactive {
    background-color: var(--nonActive);
}